body {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}
button {
    font-size: 28px; /* Increase font size */
    padding: 20px 40px; /* Increase button size */
    background-color: #e3eee4; /* Button color */
    color: rgb(12, 12, 12); /* Text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s; /* Smooth color transition */
}
button:hover {
    background:cyan;
    color:black;
    box-shadow: 0 0 5px cyan,0 0 25x cyan,0 0 50px cyan,0 0 200px cyan;
    -webkit-box-reflect: below 1px conic-gradient (transparent,black);
}
.container{
    display: felx;
    align-content: center;
    justify-items:center;
    color:rgb(70, 87, 215);
}
.container.div{
    height: 100px;
    width:70px;
    justify-content: center;
    animation: fadein 20s;
    border-radius:5px
}
@keyframes fadein{
    0%{
        opacity:0;
    }
    100%{
        opacity:100;
    }
}